body {
    background-image: url(../img/landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-container {
    background-image: url(../img/grass.png);
    background-size: cover;
    padding: 20px 30px 0px 30px; 
    color: purple;
    font-weight: bolder;
}

.title {
    font-size: 70px;
    font-weight: bold;
    margin: 0 ; 
}

.grid-custom {
    display: grid;
    gap: 10px;
	grid-template-columns: repeat(10, 1fr);
    background-color: bisque;
    padding: 10px; 
    opacity: 0.85; 
}

.square {
    padding: 20px;
    background-color: blueviolet;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: bisque;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: bold;
}

.square:hover {
background-image: url(../img/flowers.png);
}

.square-purple {
    background-color: purple;
}

.square-purple:hover {
    background-image: url(../img/bee.png);
}

.square-orchid {
    background-color: darkorchid;
}

.square-orchid:hover {
    background-image: url(../img/butterflies.png);
}

.square-lilac {
    background-color: #5E2BC4;
}

.square-lilac:hover {
    background-image: url(../img/berries.webp);
}